<div class="appname-modal" aria-hidden="!vm.status[vm.name]">
    <!--appname-trap -->
    <div ng-class="{'is-open': vm.status[vm.name]}" class="modal" aria-labelledby="modal-header-title" aria-describedby="modal-body">
        <div class="modal-header">
            <button class="modal-header-close js-modalclose icon icon-size-sm icon-cross" ng-click="vm.close()">Close</button>
            <span class="modal-header-title">{{:: vm.headerTitle}}</span>
        </div>
        <ng-transclude></ng-transclude>
    </div>
    <div ng-click="vm.close(true)" tabindex="-1" ng-show="vm.status[vm.name]" class="appname-modal__backdrop modal-backdrop"></div>
</div>
