<!doctype html>
<html>
<head>
   <link rel="stylesheet" href=".././app/build/appname.common.min.css">

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src=".././app/build/appname.common.js"></script>

   <script type="text/javascript">
      var myApp = angular.module('myApp', ['appname.common.layout']);
   </script>

</head>
<body ng-app="myApp">

   <main class="container">
      <h1 class="body-font"> Directive: Top </h1>
      <appname-address-component-layout address-obj="vm.address" state-list="mock.list.value"
                                       matching-address-list="mock.list.value" country-list="mock.list.value"
                                       formatted-address="mock.object"
                                       get-matching-address-list="mock.method()"
                                       get-formatted-address="mock.method()">

      </appname-address-component-layout>
   </main>

</body>
</html>
