<!doctype html>
<html>
<head>
   <link rel="stylesheet" href="../../components/commongui.common.min.css">

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="../../components/commongui.common.js"></script>

   <script type="text/javascript">
      var myApp = angular.module('myApp', ['gui.common']);
   </script>

</head>
<body ng-app="myApp">

   <main class="container">
      <h1 class="body-font"> Directive: test </h1>
      <gui-test my-param="{{mock.simple_string.value}}"></gui-test>
   </main>

</body>
</html>
