<div class="appname-footer">

    <div class="appname-footer__content container-fluid">

        <span class="icon icon-size-md icon-padlock appname-footer__content__padlock"></span>

        <p class="appname-footer__content__text">
            <span>{{:: cmLabels.copyrightLine1 | appnameTrustHtml}}&#46;</span>
            <br><span ng-bind-html="cmLabels.brandName[brand] | appnameTrustHtml"></span><span ng-bind-html="cmLabels.copyrightLine2 | appnameTrustHtml"></span>
        </p>

    </div>

</div>
