<div class="appname-sortable-table-accordion">

    <div class="appname-sortable-table-accordion__noResults" ng-if="vm.isErrorOccured || !vm.currentList || vm.currentList.length === 0">
        <div class="appname-sortable-table-accordion__noResults__results">
            <h2 class="body-font appname-sortable-table-accordion__noResults__results__title"><span >{{ ::vm.tableTitle }}</span>
              <span class="body-font appname-sortable-table-accordion__noOfResults" ng-if="!vm.isErrorOccured">{{vm.noOfResults}}</span></h2>
            <hr> {{ ::vm.noResultsMsg }}
        </div>
    </div>

    <div ng-if="vm.currentList && vm.currentList.length > 0" class="table-responsive appname-sortable-table-accordion__table">
        <table class="table table-bordered data-table">
            <caption>
                <h2 class="body-font appname-sortable-table-accordion__title"><span>{{ ::vm.tableTitle }}</span><span class="body-font appname-sortable-table-accordion__noOfResults">{{vm.noOfResults}}</span></h2>
                <hr>
            </caption>
            <thead>
                <tr class="appname-sortable-table-accordion__table__row">
                    <th class="appname-sortable-table-accordion__table__header-col" scope="col" ng-repeat="header in vm.headers" ng-click="vm.sortable && vm.orderList($index)">
                        <div class="appname-sortable-table-accordion__table__header-col__caret-container"><span ng-if="vm.sortable" class="caret" ng-class="{caretGreyedOut: !(header.isCurrentSortedColumn),caretUp:header.isReversed,caretDown: !(header.isReversed)}"></span></div>
                        <div class="appname-sortable-table-accordion__table__header-col__labels-container">
                            <div ng-repeat="label in header.labels">{{ ::label }}</div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="appname-sortable-table-accordion__table__row" ng-class="{'table-highlight': listEntry.isSelected}" ng-click="vm.selectRow($index)" ng-repeat-start="listEntry in vm.currentList">
                    <td ng-repeat="header in vm.headers">
                        <div class="appname-sortable-table-accordion__table__row__value" ng-if="!vm.isAllFieldsUndefined(listEntry, header.dataFields)" ng-repeat="dataField in header.dataFields">
                            <span ng-if="listEntry[dataField]">{{ ::listEntry[dataField] }}</span><span ng-if="!listEntry[dataField]">{{ ::vm.cmNodata }}</span></div>
                        <div ng-if="vm.isAllFieldsUndefined(listEntry, header.dataFields)">{{ ::vm.cmNodata }}</div>
                    </td>
                </tr>
                <tr ng-repeat-end aria-hidden="{{!listEntry.shouldDisplay}}" ng-if="vm.collapsible" ng-class="listEntry.shouldDisplay ? 'appname-sortable-table-accordion__table__body__row-show-content' : 'appname-sortable-table-accordion__table__body__row-hide-content'">
                    <td colspan="{{ ::vm.headers.length}}">{{ ::listEntry.content }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row appname-sortable-table-accordion__actions" ng-if="vm.moreRecords">
            <a href class="appname-sortable-table-accordion__actions__text" ng-click="vm.showMore()">{{ ::vm.pageLink }}</a>
        </div>
    </div>
</div>
