<!DOCTYPE html>
<html lang="en" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Dashboard</title>

    <!-- Modules CSS -->
    <link rel="stylesheet" href="dashboard/build/yoda.app.css">

</head>

<body ng-app="yoda">

    <yoda-dashboard-layout></yoda-dashboard-layout>

    <!-- Libs -->
    <script type="text/javascript" src="./node_modules/lodash/index.js"></script>
    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/ace.min.js"></script>
    <script type="text/javascript" src="libs/grunt-icons-loader.js"></script>

    <!-- Modules Scripts -->
    <script type="text/javascript" src="app/build/appname.app.js"></script>
    <script type="text/javascript" src="dashboard/build/yoda.app.js"></script>

</body>

</html>
