<!DOCTYPE html>
<html lang="en" class="js Zag" ng-app="appname">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="img/favicon.ico">
	<title>appname</title>
</head>

<body>
	<appname-app-layout></appname-app-layout>

	<!-------- JS files -------->
	<!-- Libs -->
	<script type="text/javascript" src="libs/lodash.min.js"></script>
	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap-combobox.js"></script>
	<script type="text/javascript" src="libs/bootstrap3-typeahead.js"></script>
	<script type="text/javascript" src="libs/grunt-icons-loader.js"></script>

	<!-- Modules Scripts -->
	<script src="app/build/appname.app.js"></script>

</body>

</html>
